---
layout: prozin/shell
---

{% if page.layout == 'medicine-group' %}
    <div 
        id="card-nav">
        <div 
            class="container">
            <div 
                class="canvas-toolbar" id="section-geneesmiddelen">
                <h2>
                    Geneesmiddelenoverzicht van {{ page.title }}
                    {% if page.indications.size >= 2 %} 
                    <label 
                        class="pat-select bare">
                        <select 
                            name="indication">
                            <option 
                                value="all">
                                voor alle indicaties
                            </option>
                            {% for indication in page.indications %}
                                <option 
                                    value="{{ indication.name | downcase | replace: 'ë','e' | replace: ' ','-'| replace: ',','-' | remove: '(' | remove: ')' }}">
                                    voor {{ indication.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                    {% endif %}
                </h2>
            </div>      

            {% include cards.html %}
            
            <article    
                class="pat-rich indication-reference">
                <p>
                    {% for indication in page.indications %}
                        <span {% unless page.indications.size == 1 %}class="pat-depends"{% endunless %} data-pat-depends="condition: indication = {{ indication.name | downcase | replace: 'ë','e' | replace: ' ','-'| replace: ',','-' | remove: '(' | remove: ')' }}; transition: fade">
                            Meer informatie over <a href="#"><strong>{{ indication.name }}</strong></a>.
                        </span>
                    {% endfor %}
                    Een volledig overzicht van alle indicaties per geneesmiddel kunt u vinden in de geneesmiddelteksten.
                </p>
            </article>
        </div>
    </div>
{% endif %}


<div 
    id="content" 
    class="{% if page.compare_count %}compare-count-{{ page.compare_count }}{% endif %} spotlight-off">
	{% if page.hero %}
        {% unless page.sub_nav %}
    		<figure 
                id="hero">
    			<img src="{{ page.hero }}" alt="" />
    		</figure>
        {% endunless %}
	{% endif %}
    <div 
        class="container">	
	    {% if page.notification %}
	       <p   
                class="pat-notification success"
	            data-pat-notification="type: banner; class: success">
	            {{ site.data.prozin.ui[page.notification][site.data.config.lang] }}
	        </p>
	    {% endif %}
        {{ content }}  
    </div>
</div>