---
layout: prozin/generic
byline: date
parent: Beheer
page_type: news-item-edit
collapsible_toggles: true
meta:
  - label: label_summary
    type: textarea
    rows: 3
  - label: label_publication_date
    type: date
---

<form
    class="pat-inject pat-form">
    
    {% include prozin/toolbar-cms-edit.html
        cancel="/dialogues/cms/news"
        allow="
            header 3,
            header 4,
            paragraph,
            blockquote,
            strong,
            emphasised,
            deleted,
            link,
            horizontal rule,
            unordered list,
            ordered list,
            image,
            video,
            table"
             %}

    <div 
        class="cms-edit-form" 
    	id="main-content">
        {% include prozin/cms-title-block.html %}
        
        {% for section in page.sections %}
            {% include prozin/cms-section.html
                type=section.type
                title=section.name
                content=section.content
                state="open" %}
        {% endfor %}

        <div 
            id="button-bar-organise-sections" 
            class="pat-button-bar">
            <a 
                data-pat-modal="class: medium panel"
                href="/dialogues/cms/panel-add-section#document-content"
                class="default pat-button pat-modal icon-plus">Sectie</a>
            <a 
                class="pat-button">Orden secties</a>
        </div>

        {% include prozin/cms-section.html
            type="see-also"
            title="Zie ook" %}

    </div>

</form>