---
layout: prozin/generic
byline: date
---

{% include toolbar-standard-view.html %}

<div 
	id="main-content">
	<article>
		{% include prozin/page-head.html %}
	    {% include prozin/page-toc.html %}

	    {% if page.sections %}
		    {% include prozin/page-module-body-text-segmented.html %}
		{% else %}
			{% include prozin/page-module-body-text.html %}
	    {% endif %}
		{% include prozin/page-module-downloads.html %}
		{% include prozin/page-module-links.html title="Zie ook" %}
    </article>
</div>