---
layout: prozin/generic
byline: date
---

{% unless page.state == 'preview' %}
	{% include prozin/toolbar-standard-view.html %}
{% endunless %}

<div 
	id="main-content">
	<article>
		{% include prozin/page-head.html %}
	    {% include prozin/page-toc.html %}
        {% for section in page.sections %}
        	{% if section.type %}
	            {% include prozin/section.html
	                type=section.type
	                title=section.name
	                image=section.image
	                caption=section.caption
	                content=section.content
	                poster=section.poster
	                video=section.video
	                transcript=section.transcript
	                transcript_link=section.transcript_link
	                height=section.height
			        width=section.width
			        source=section.source
			        interaction=section.interaction
			        enlarge=section.enlarge %}
        	{% endif %}
        {% endfor %}
		{% if page.tags.size >= 1 or page.links %}
			{% include prozin/section.html
				type="links" 
				title="Zie ook" %}
		{% endif %}
    </article>
</div>