---
layout: prozin/generic
page_type: glossary
title_in_breadcrumbs: false
collection_in_breadcrumbs: false
---

{% assign alphabet = page.letters | split: "|" %}

<form 
    action="{{ page.url }}#listing"
    class="pat-toolbar pat-bumper pat-inject pat-autosubmit"
    id="glossary-toolbar">
    <div 
    	class="toolbar-navigation-area">
        <div 
        	class="toolbar-section navigation" 
            id="glossary-toolbar-navigation">
            <nav 
            	class="pat-tabs pat-button-cluster abecedary">
                {% for initial in alphabet %}
                    {% assign has_content = false %}
                    {% for item in site.concepts  %}
                        {% if item.layout == 'prozin/glossary-term' %}
                            {% capture item_initial %}{{ item.title | truncate: 1, '' | downcase }}{% endcapture %}
                            {% if item_initial == initial %}
                                {% assign has_content = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if has_content%}
                        <a  
                            class="pat-scroll" 
                            href="#section-{{ initial | downcase }}">{{ initial | downcase }}</a>
                    {% endif %}
                {% endfor %}
  			</nav>
        </div>
    </div>
    <div 
        id="glossary-toolbar-functions-area"
        class="toolbar-functions-area">
        <div 
            class="toolbar-section quick-functions"
            id="glossary-toolbar-quick-functions">
            <label 
			    class="pat-toolbar-search-field">
			    <input 
			        type="search" 
			        placeholder="Zoeken binnen de begrippenlijst">
			    <button
			        class="assistive"
			        type="submit">{% include patterns/i18n id="label_search_imp" %}</button>
			</label>
        </div>
    </div>
</form>

<div 
    id="main-content">
    <article>
        <div 
            id="page-head" 
            class="pat-rich">
            <h1>
                {% include patterns/i18n id="label_glossary" %}
            </h1>   
        </div>
    </article>
    <div 
        id="listing" 
        class="glossary">
        {% for initial in alphabet %}
            {% assign has_content = false %}
            {% for item in site.concepts  %}
                {% if item.layout == 'prozin/glossary-term' %}
                    {% capture item_initial %}{{ item.title | truncate: 1, '' | downcase }}{% endcapture %}
                    {% if item_initial == initial %}
                        {% assign has_content = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if has_content%}
                <div 
                	id="section-{{ initial | downcase }}" 
                    class="glossary-section">
                    <h3 
                        class="glossary-section-title">
                        {{ initial | downcase }}
                    </h3>
                    <dl 
                        class="terms-list">
                        {% for item in site.concepts  %}
                            {% if item.layout == 'prozin/glossary-term' %}
                                {% capture item_initial %}{{ item.title | truncate: 1, '' | downcase }}{% endcapture %}
                                {% if initial == item_initial %}
                                    <dt
                                        id="item-{{ item.title | slugify }}-term">
                                        {{ item.title }}
                                    </dt>
                                    <dd
                                        id="item-{{ item.title | slugify }}-definition">
                                        <p>
                                            {% if item.synonym %}
                                                Zie <a 
                                                    href="#item-{{ item.synonym | slugify }}-definition">{{ item.synonym }}</a>.
                                            {% else %}
                                                {% if item.synonyms %}
                                                    {% for synonym in item.synonyms %}
                                                        {{ synonym }}; 
                                                    {% endfor %}
                                                {% endif %}
                                                {{ item.summary }}
                                                {% unless item.content == null or item.content == '' %}
                                                    <a 
                                                        href="{{ item.url }}" 
                                                        class="pat-inject" 
                                                        data-pat-inject="history: record; scroll: #main"
                                                        >{% include patterns/i18n 
                                                            id="label_read_more_ell" %}</a>
                                                {% endunless %}
                                            {% endif %}

                                        </p>
                                    </dd>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>