---
layout: prozin/generic
byline: date
page_type: news-item
parent: Beeldbank
---

<form
    class="pat-inject pat-form">
    <div 
        class="cms-edit-form" 
    	id="main-content">

        <fieldset 
            class="pat-rich">
            {% include prozin/cms-title-block-title.html %}
        </fieldset>

    	<fieldset 
            class="horizontal form-panel metadata">
            {% include prozin/form-field-tags.html %}
            <fieldset 
                class="group pat-checklist radio">
                <legend>Auteursrecht</legend>
                <label>
                    Publiek domein
                    <input 
                        type="radio" 
                        checked
                        name="copyright"
                        value="pd">
                </label>
                <label>
                    Creative commons
                    <input 
                        type="radio" 
                        name="copyright"
                        value="cc">
                </label>
                <label>
                    Copyright
                    <input 
                        type="radio" 
                        name="copyright"
                        value="copyright">
                </label>
            </fieldset>
            <label
                class="pat-depends"
                data-pat-depends="condition: copyright=cc or copyright=copyright">
                Auteur
                <input 
                    type="text" 
                    name="copyright" />
            </label>
            <label>
            	{% include patterns/i18n id="patterns.label_image" %}
            	<input 
            		type="file" 
            		name="" />
                <span 
                    class="info message">U kunt dit beeld overschrijven door een nieuwe versie op te laden.</span>
            </label>
        </fieldset>

    </div>
</form>