---
layout: prozin/generic
byline: date
page_type: news-item
parent: Beeldbank
---

<form 
    action="{{ page.url }}#main-content" 
    class="pat-toolbar pat-bumper pat-inject pat-autosubmit pat-form"
    id="image-toolbar">

    <div 
        id="image-toolbar-functions-area"
        class="toolbar-functions-area">
        <div
            class="toolbar-section view-options"
            id="image-toolbar-view-options">

        </div>
        <div 
            class="toolbar-section quick-functions"
            id="image-toolbar-quick-functions">
            <a 
		        href="/dialogues/image-bank/edit" 
		        data-pat-inject="scroll: #main"
		        class="pat-button pat-inject edit icon-pencil">{{ site.data.prozin.ui.label_edit[site.data.config.lang] }}</a>
            <a 
                class="icon icon-ellipsis-hor pat-tooltip tooltip-inactive" 
                href="#id-{{ item.title | slugify }}" 
                data-pat-tooltip="source: ajax; position-list: tr">More…</a>
            <div
                hidden
                id="id-{{ item.title | slugify }}">
                <ul 
                    class="menu">
                    <li>
                        <a 
                            href="/dialogues/image-bank/delete-image#document-content" 
                            data-pat-modal="class: medium panel"
                            class="icon-trash pat-modal close-panel">Verwijder</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

<div 
	id="main-content">
		{% include prozin/page-head.html 
			byline="document-type, pub-date" %}
		<dl
			class="pat-grid-list">
			<dt>
				{% include patterns/i18n id="label_last_revision" %}
			</dt>
			<dd>
				22 april 2023
			</dd>
			<dt>
				{% include patterns/i18n id="label_alternate_text" %}
			</dt>
			<dd>
				{{ page.alt_text }}
			</dd>
		</dl>
		<article 
			class="pat-rich">
		    <figure>	
		    	<a 
		    		href="{{ page.url }}.jpg" 
		    		class="pat-gallery">
                    <picture
                    	class="picture">
				    	<img 
				    		src="{{ page.url }}.jpg"
				    		alt="{{ page.alt_text }}" />
				    	{% if page.copyright == 'Copyright' %}
	                        <small 
	                            class="copyright-mention type-{{ page.copyright | slugify }}">{{ page.author }}</small>
				    	{% elsif page.copyright == 'Creative Commons' %}
	                        <small 
	                            class="copyright-mention type-{{ page.copyright | slugify }}">{{ page.author }}</small>
				    	{% endif %}
                    </picture>
	    		</a>
	    	</figure>
	    </article>

	    <div 
	        class="page-module type-links" 
	        id="section-links">
	        <h2 
	            class="page-module-title">
	            Zie ook
	        </h2>
            <h3>
                Toepassingen
            </h3>
            <h4>Farmacotherapeutisch Kompas</h4>
	        <ul 
	        	class="link-list">
	        	<li>
	        		<a 
	        			href="#">The anchorman</a>
	        	</li>
	        </ul>
	        <h4>
	        	Horizonscan geneesmiddelen
	        </h4>
	        <ul 
	        	class="link-list">
	        	<li>
	        		<a 
	        			href="#">Zie, ginds komt de stoomboot</a>
	        	</li>
	        	<li>
	        		<a 
	        			href="#">Nieuwe inzichten financiering dure geneesmiddelen</a>
	        	</li>
	        </ul>   
	        {% if page.tags.size >= 1 %}
	            <h3>
	                Tags
	            </h3>
	            <ul 
	                class="link-list">
	                {% for tag in page.tags %}
	                    <li>
	                        <a 
	                            href="/tags/{{ tag | slugify }}" 
	                            class="type-tag pat-inject" 
	                            data-pat-inject="history: record; scroll: #main">{{ tag }}</a>
	                    </li>  
	                {% endfor %}
	            </ul>
	        {% endif %}
	    </div>
</div>