---
layout: prozin/generic
byline: date
page_type: news-item
parent: Beeldbank
---

<form
    class="pat-inject pat-form">

    <div 
    class="pat-toolbar pat-bumper"
    id="image-edit-toolbar">

        <div 
            id="image-edit-toolbar-functions-area"
            class="toolbar-functions-area">
            <div 
                class="toolbar-section quick-functions"
                id="image-edit-toolbar-quick-functions">

                <a 
                    class="icon icon-ellipsis-hor pat-tooltip tooltip-inactive" 
                    href="#id-{{ item.title | slugify }}" 
                    data-pat-tooltip="source: ajax; position-list: tr">More…</a>

                <div
                    hidden
                    id="id-{{ item.title | slugify }}">
                    <ul 
                        class="menu">
                        <li>
                            <a 
                                href="/feedback/delete-content-object#document-content" 
                                data-pat-modal="class: small panel"
                                class="icon-trash pat-modal close-panel">{% include patterns/i18n id="patterns.label_delete_imp" %}</a>
                        </li>
                    </ul>
                </div>

                <a  
                    href="/dialogues/image-bank/andre-van-gameren" 
                    class="pat-inject pat-button">{% include patterns/i18n id="patterns.label_cancel_imp" %}</a>

                <button
                    class="default pat-button"
                    type="submit">{% include patterns/i18n id="label_save_imp" %}</button>

            </div>
        </div>
    </div>

    <div 
        class="cms-edit-form" 
    	id="main-content">

        <fieldset 
            class="pat-rich">
            {% include prozin/cms-title-block-title.html %}
        </fieldset>

    	<fieldset 
            class="horizontal form-panel metadata">
            {% include prozin/form-field-tags.html
                tags="Nieuws, Mens, Man, Man in pak, Televisie, NOS" %}
            <fieldset 
                class="group pat-checklist radio">
                <legend>Auteursrecht</legend>
                <label>
                    Publiek domein
                    <input 
                        type="radio" 
                        checked
                        name="copyright"
                        value="pd">
                </label>
                <label>
                    Creative commons
                    <input 
                        type="radio" 
                        name="copyright"
                        value="cc">
                </label>
                <label>
                    Copyright
                    <input 
                        type="radio" 
                        name="copyright"
                        value="copyright">
                </label>
            </fieldset>
            <label
                class="pat-depends"
                data-pat-depends="condition: copyright=cc or copyright=copyright">
                Auteur
                <input 
                    type="text" 
                    name="copyright" />
            </label>
            <label>
            	{% include patterns/i18n id="patterns.label_image" %}
            	<input 
            		type="file" 
            		name="" />
                <span 
                    class="info message">U kunt dit beeld overschrijven door een nieuwe versie op te laden.</span>
            </label>
        </fieldset>

    </div>
</form>