---
layout: prozin/generic
byline: date
page_type: news-item
parent: Beeldbank
---

{% unless page.state == 'preview' %}
	{% include prozin/toolbar-standard-view.html %}
{% endunless %}

<div 
	id="main-content">
		{% include prozin/page-head.html 
			byline="document-type, pub-date" %}
		<dl
			class="pat-grid-list">
			<dt>
				{% include patterns/i18n id="label_last_revision" %}
			</dt>
			<dd>
				22 april 2023
			</dd>
			<dt>
				{% include patterns/i18n id="label_alternate_text" %}
			</dt>
			<dd>
				{{ page.alt_text }}
			</dd>
		</dl>
		<article 
			class="pat-rich">
		    <figure>	
		    	<a 
		    		href="{{ page.url }}.jpg" 
		    		class="pat-gallery">
                    <picture
                    	class="picture">
				    	<img 
				    		src="{{ page.url }}.jpg"
				    		alt="{{ page.alt_text }}" />
				    	{% if page.copyright == 'Copyright' %}
	                        <small 
	                            class="copyright-mention type-{{ page.copyright | slugify }}">{{ page.author }}</small>
				    	{% elsif page.copyright == 'Creative Commons' %}
	                        <small 
	                            class="copyright-mention type-{{ page.copyright | slugify }}">{{ page.author }}</small>
				    	{% endif %}
                    </picture>
	    		</a>
	    	</figure>
	    </article>

	    <div 
	    	class="page-module type-rich">
            <h2
            	class="page-module-title">
                Bestaande toepassingen
            </h2>
            <div 
            	class="pat-rich">
	            <p>
	            	Deze afbeelding is gebruikt op de volgende locaties.
	            </p>
	            <h3>Farmacotherapeutisch Kompas</h3>
		        <ul 
		        	class="link-list">
		        	<li>
		        		<a 
		        			class="type-link-external" 
		        			href="#">The anchorman</a>
		        	</li>
		        </ul>
		        <h3>
		        	Horizonscan geneesmiddelen
		        </h3>
		        <ul 
		        	class="link-list">
		        	<li>
		        		<a 
		        			class="type-link-external"
		        			href="#">Zie, ginds komt de stoomboot</a>
		        	</li>
		        	<li>
		        		<a 
		        			class="type-link-external"
		        			href="#">Nieuwe inzichten financiering dure geneesmiddelen</a>
		        	</li>
		        </ul>
		    </div>
	    </div>

		{% include prozin/section.html
			type="links" 
			title="Zie ook" %}
</div>