---
layout: prozin/generic
byline: date
page_type: news-item
parent: Beeldbank
alt_text: Man met rood-bruin haar in blauw pak met de handen over elkaar op een vel wit papier op een tafel, tegen een decor van een nieuwsuitzending van omroep NOS.
tags: Nieuws, Mens, Man, Man in pak, Televisie, NOS
---

<form
    action="/dialogues/image-bank/images/andre-van-gameren"
    class="pat-inject pat-form">

    <div 
    class="pat-toolbar pat-bumper"
    id="image-edit-toolbar">

        <div 
            id="image-edit-toolbar-functions-area"
            class="toolbar-functions-area">
            <div 
                class="toolbar-section quick-functions"
                id="image-edit-toolbar-quick-functions">

                <a 
                    class="icon icon-ellipsis-hor pat-tooltip tooltip-inactive" 
                    href="#id-{{ item.title | slugify }}" 
                    data-pat-tooltip="source: ajax; position-list: tr">More…</a>

                <div
                    hidden
                    id="id-{{ item.title | slugify }}">
                    <ul 
                        class="menu">
                        <li>
                            <a 
                                href="/dialogues/image-bank/delete-image#document-content"
                                data-pat-modal="class: medium panel"
                                class="icon-trash pat-modal close-panel">{% include patterns/i18n id="patterns.label_delete_imp" %}</a>
                        </li>
                    </ul>
                </div>

                <a  
                    href="/dialogues/image-bank/images/andre-van-gameren" 
                    class="pat-inject pat-button">{% include patterns/i18n id="patterns.label_cancel_imp" %}</a>

                <button
                    class="default pat-button"
                    type="submit">{% include patterns/i18n id="label_save_imp" %}</button>

            </div>
        </div>
    </div>

    <div 
        class="cms-edit-form" 
    	id="main-content">

        <fieldset 
            class="pat-rich">
            {% include prozin/cms-title-block-title.html %}
        </fieldset>

    	<fieldset 
            class="horizontal form-panel metadata">
            {% include prozin/form-fields-image.html %}
        </fieldset>

    </div>
</form>