---
layout: prozin/generic
page_type: landing-cms-folder
---

{% include prozin/toolbar-cms-section.html %}

<div 
    id="listing">
    <table 
        class="hd">
        <thead>
            <tr>
                <th>
                    <a 
                        href="{{ page.url }}#listing"
                        class="pat-inject sorting sorting-asc">Naam</a></th>
                <th><a 
                        href="{{ page.url }}#listing"
                        class="pat-inject sorting">Laatst bewerkt</a></th>
                <th><a 
                        href="{{ page.url }}#listing"
                        class="pat-inject sorting">Status</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>               
            {% for content_type in page.content_types %}
                {% for item in site[page.collection] %}
                    {% if content_type.name == item.layout %}
                        {% unless item.url contains '-state-edit' or item.url contains '-preview' %}
                            {% include prozin/table-row-cms-folder.html %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
