---
layout: prozin/generic
page_type: landing-settings
parent: Beheer
---

<form
    class="pat-form panel-style">
    <div 
        class="pat-toolbar pat-bumper"
        id="cms-settings-toolbar">
        <div 
            class="toolbar-navigation-area">
            <div 
                class="toolbar-section navigation"
                id="cms-settings-toolbar-navigation">
                {% include prozin/toolbar-nav-settings.html %}
            </div>
        </div>
        <div 
            id="cms-settings-toolbar-functions-area"
            class="toolbar-functions-area pat-inject pat-form pat-autosubmit">
            <div
                class="toolbar-section view-options"
                id="cms-settings-view-options">
                
            </div>
            <div 
                class="toolbar-section quick-functions"
                id="cms-settings-quick-functions">
                <button
                    class="pat-button default"
                    type="submit">{% include patterns/i18n id="label_save_imp" %}</button>
            </div>
        </div>
    </div>
    <div 
        id="listing">
        <div
            class="form-panel pat-collapsible open"
            data-pat-collapsible="
                store: local; 
                scroll-selector: self; 
                scroll-offset: 120px"
            id="language-settings-well">
            <h2 
                class="form-separation-header">
                {% include patterns/i18n id="patterns.label_language" %}    
            </h2> 
            <fieldset 
                class="horizontal">
                <fieldset 
                    class="group pat-checklist">
                    <legend>{% include patterns/i18n id="label_supported_languages" %}</legend>  
                    <label
                        class="disabled">
                        {% include patterns/i18n id="patterns.label_dutch" %}
                        <input
                            disabled
                            checked 
                            type="checkbox" 
                            name="language">
                    </label>  
                    <label>
                        {% include patterns/i18n id="patterns.label_english" %}
                        <input
                            checked 
                            type="checkbox" 
                            name="language">
                    </label>  
                </fieldset>
                <label>
                    {% include patterns/i18n id="label_default_language" %}
                    <select>
                        <option>{% include patterns/i18n id="patterns.label_dutch" %}</option>
                        <option>{% include patterns/i18n id="patterns.label_english" %}</option>
                    </select>
                </label>
                <fieldset 
                    class="group pat-checklist radio">
                    <legend>Fallback</legend>
                    <label>
                        Toon in overzichten alleen content in de taal die de gebruiker geselecteerd heeft
                        <input 
                            type="radio" 
                            name="language_fallback">
                    </label>
                    <label>
                        Toon in overzichten content in een alternatieve taal wanneer beschikbaar. 
                        <input 
                            type="radio" 
                            name="language_fallback">
                    </label>
                </fieldset>
            </fieldset>
        </div>
        <div
            class="form-panel pat-collapsible open"
            data-pat-collapsible="
                store: local; 
                scroll-selector: self; 
                scroll-offset: 120px"
            id="homepage-settings-well">
            <h2 
                class="form-separation-header">
                {% include patterns/i18n id="label_homepage" %}    
            </h2> 
            <fieldset 
                class="horizontal">
                <h3 
                    class="form-section-header">
                    {% include patterns/i18n id="label_swimlane_hero" %}
                </h3>
                <label>
                    {% include patterns/i18n id="label_survey_url" %}
                    <input 
                        type="url" 
                        name="">
                    {% include patterns/form-help.html
                        content="message_help_promo_url" %}
                </label>
                <label>
                    {% include patterns/i18n id="label_breaking_news" %}
                    <select
                        class="pat-autosuggest">
                        <option>{% include patterns/i18n id="label_no_breaking_news" %}</option>
                        {% for item in site.news %}
                            <option>{{ item.title }}</option>
                        {% endfor %}
                    </select>
                    {% include patterns/form-help.html
                        content="message_help_breaking_news" %}
                </label>
            </fieldset>
        </div>
        {{ content }}
    </div>
</form>