---
layout: prozin/generic
page_type: landing-toc
---

{% capture this_collection %}{{ page.collection }}{% endcapture %}
{% assign this_scope = site[this_collection] | sort: 'title' %}
{% assign page_path = page.url | split: "/" | reverse %}

<div 
    id="main-content">
    <article 
        class="pat-rich">
        {% if title_on_page == true %}
            <h1>
                {{ page.title }}
            </h1>
        {% endif %}
        <div 
            class="introduction" 
            id="page-intro">
            {% if page.summary %}
                <p>
                    {{ page.summary }}
                </p>
            {% endif %}
        </div>

        {{ content }}

    </article>

    <nav 
        class="bar-buttons col-1">
        {% if page.nav %}
            {% for item in page.nav %}                            
                <a 
                    href="{{ item.url }}" 
                    class="pat-inject default item" 
                    data-pat-inject="history: record">{{ item.title }}</a>     
            {% endfor %}
        {% else %}
            {% for item in site.data.sectors %}                            
                <a 
                    href="{{ item.url }}" 
                    class="pat-inject default item" 
                    data-pat-inject="history: record">{{ item.title }}</a>     
            {% endfor %}
        {% endif %}    
    </nav>
</div>