---
layout: prozin/generic
page_type: landing-toc
---

{% capture this_collection %}{{ page.collection | default: 'general' }}{% endcapture %}
{% assign this_scope = site[this_collection] | sort: 'title' %}
{% assign page_path = page.url | split: "/" | reverse %}

<div 
    id="main-content">
    {% include prozin/page-head.html %}
    <nav 
        class="toc">
        <ul 
            class="link-list">

            {% for item in this_scope %}

                {% assign item_path = item.url | split: "/" | reverse %}

                {% if item_path[0] == 'index' %}
                    {% unless item.title == page.title or item.url contains '-state-' %}
                         {% if item_path[2] == page_path[1] %}
                            <li>
                                <a 
                                    href="{{ item.url }}" 
                                    class="pat-inject" 
                                    data-pat-inject="
                                        history: record; 
                                        scroll: #main">{{ item.title }}</a>
                            </li>     
                        {% endif %}  
                    {% endunless %}
                {% endif %}

            {% endfor %}

            {% for item in this_scope %}
                {% assign item_path = item.url | split: "/" | reverse %}
                {% if item_path[1] == page_path[1] %}
                    {% unless item.title == page.title or item.url contains '-state-' %}
                        <li>
                            <a 
                                href="{{ item.url }}" 
                                class="pat-inject" 
                                data-pat-inject="
                                    history: record; 
                                    scroll: #main">{{ item.title }}</a>
                        </li>    
                    {% endunless %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>