---
layout: prozin/generic
user: Nicole
page_type: landing-mail-archive
---

<div 
    id="main-content">
    <article 
        class="pat-rich">
        <h1>
            {{ page.title }}
        </h1>
        <div 
            class="introduction" 
            id="page-intro">
            <p>
                {% include patterns/i18n 
                    id="message_newsletter_archive" %}
            </p>
        </div>

        <p>
            {% include patterns/i18n 
                id="message_newsletter_keep_abreast" %}
            <a 
                class="pat-inject"
                data-pat-inject="history: record; scroll: #main" 
                href="/dialogues/newsletter/subscribe">{% include patterns/i18n id="label_then_subscribe_to_our_newsletters" %}</a>.
        </p>

    </article>

    <table 
        class="toc">
        <tbody 
            class="link-list">
			{% assign archive = site.mails | sort: 'date' | reverse %}
			
            {% for item in archive %}
                {% unless item.layout == 'prozin/landing-mail-archive' %}
                    <tr>
                    	<td>
	                        <a 
	                        	target="_new" 
	                            href="{{ item.url }}">{{ item.title }}</a>
                        </td>
                        <td>
                        	{{ item.date | date: '%B %d, %Y' }}
                        </td>
                    </tr>
                {% endunless %}
            {% endfor %}
        </tbody>
    </table>

</div>