---
layout: prozin/generic
title_in_breadcrumbs: true 
page_type: landing-tiles
collection_in_breadcrumbs: false
---

{% capture this_collection %}{{ page.collection| default: 'general' }}{% endcapture %}
{% assign this_scope = site[this_collection] | sort: 'title' %}
{% assign page_path = page.url | split: "/" | reverse %}

<div 
    id="main-content">
    <div 
        id="page-head" 
        class="pat-rich">
        <div 
            class="introduction" 
            id="page-intro">
            <p>
                {{ page.summary }}
            </p>
        </div>
    </div>
    <div 
        class="page-module type-tile-navigation">
        <h2 
            class="page-module-title assistive">
            Modules
        </h2>
        <nav 
            class="tile-navigation col-3">
            {% for item in this_scope %}
                {% assign item_path = item.url | split: "/" | reverse %}
                    {% if item_path[0] == 'index' %}
                        {% unless item.title == page.title or item.url contains '-state-' %}
                            {% if item_path[2] == page_path[1] %}
                                <a 
                                    class="pat-inject tile-navigation-follow"
                                    data-pat-inject="history: record"
                                    href="{{ item.url }}">
                                    <h3 
                                        class="title">
                                        {{ item.title }}
                                    </h3>
                                    <p 
                                        class="byline">
                                        {{ item.summary }}
                                    </p>
                                </a>
                            {% endif %}  
                        {% endunless %}
                    {% endif %}
            {% endfor %}

            {% for item in this_scope %}
                {% assign item_path = item.url | split: "/" | reverse %}
                {% if item_path[1] == page_path[1] %}
                    {% unless item.title == page.title or item.url contains '-state-' %}
                        <a 
                            class="pat-inject tile-navigation-follow"
                            data-pat-inject="history: record"
                            href="{{ item.url }}">
                            <h3 
                                class="title">
                                {{ item.title }}
                            </h3>
                            <p 
                                class="byline">
                                {{ item.summary }}
                            </p>
                        </a>   
                    {% endunless %}
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>