---
layout: prozin/generic
page_type: landing-cms-folder
parent: Beheer
---

{% include prozin/toolbar-cms-section.html %}

<div 
    id="listing">
    <table 
        class="hd pat-checklist">
        <thead>
            <tr>
                <th 
                    class="select">
                    <label>
                        Select all
                        <input 
                            class="toggle-all"
                            type="checkbox">
                    </label>
                </th>
                <th>
                    <a 
                        href="{{ page.url }}#listing"
                        class="pat-inject sorting sorting-asc">{%- include patterns/i18n id="label_name" -%}</a></th>
                <th><a 
                        href="{{ page.url }}#listing"
                        class="pat-inject sorting">{%- include patterns/i18n id="label_last_modified" -%}</a></th>
                <th><a 
                        href="{{ page.url }}#listing"
                        class="pat-inject sorting">{%- include patterns/i18n id="label_status" -%}</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>    
            {%- for item in page.folders -%}
                {% include prozin/table-row-cms-folder.html %}
            {%- endfor -%}       
            {% for content_type in page.content_types %}
                {% for item in site[page.collection] %}
                    {% if content_type.name == item.layout or item.parent == page.title %}
                        {% unless item.url contains '-state-edit' or item.url contains '-preview' %}
                            {% include prozin/table-row-cms-folder.html %}
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
