---
layout: prozin/generic
page_type: landing-toc
---

{% capture this_collection %}{{ page.collection }}{% endcapture %}
{% assign this_scope = site[this_collection] | sort: 'title' %}
{% assign page_path = page.url | split: "/" | reverse %}

<div 
    id="main-content">
    <article 
        class="pat-rich">
        <h1>
            {{ page.title }}
        </h1>
        <div 
            class="introduction" 
            id="page-intro">
            {% if page.summary %}
                <p>
                    {{ page.summary }}
                </p>
            {% endif %}
        </div>

        {{ content }}

    </article>

    <div 
        class="toc">

        <ul 
            class="link-list">

            {% for item in this_scope %}

                {% assign item_path = item.url | split: "/" | reverse %}

                {% if item_path[0] == 'index' %}
                    {% unless item.title == page.title %}
                         {% if item_path[2] == page_path[1] %}
                            <li>
                                <a 
                                    href="{{ item.url }}" 
                                    class="pat-inject; scroll: #main" 
                                    data-pat-inject="history: record; scroll: #main">{{ item.title }}</a>
                            </li>     
                        {% endif %}  
                    {% endunless %}
                {% endif %}

            {% endfor %}

            {% for item in this_scope %}
                {% assign item_path = item.url | split: "/" | reverse %}
                {% if item_path[1] == page_path[1] %}
                    {% unless item.title == page.title %}
                        <li>
                            <a 
                                href="{{ item.url }}" 
                                class="pat-inject; scroll: #main" 
                                data-pat-inject="history: record; scroll: #main">{{ item.title }}</a>
                        </li>    
                    {% endunless %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>