---
layout: prozin/generic
byline: date
page_type: mailing-list
parent: Nieuwsbrieven
---

{% include prozin/toolbar-standard-view.html %}

<div 
	id="main-content">
		{% include prozin/page-head.html 
			byline="document-type" %}

	    <div 
	    	class="page-module type-organisations">
            <h2
            	class="page-module-title">
                {%- include patterns/i18n id="label_organisations" -%}
            </h2>
            <div 
                class="pat-rich">
                <p>
                    {%- include patterns/i18n id="message_help_mailing_list_organisations" -%}
                </p>
            </div>
            <ul
                class="link-list">
                {% for item in site.organisations %}
                    <li>
                        <a 
                            class="pat-inject"
                            data-pat-inect="history: record;"
                            href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
	    </div>        

	    <div 
	    	class="page-module registrations">
            <h2
            	class="page-module-title">
                {% include patterns/i18n id="label_registrations" %} <sup class="counter">{{ page.registrations.size }}</span>
            </h2>
            <div 
                class="pat-rich">
                <p>
                    {%- include patterns/i18n id="message_help_mailing_list_registrations" -%}
                </p>
                <p
                    class="pat-comma-separated">
                    {% for item in page.registrations %}
                        <a 
                            href="mailto: {{ item }}"
                            class="segment e-mail-address">{{ item }}</a>
                    {% endfor %}
                </p>
            </div>
	    </div>

</div>