---
layout: prozin/generic
byline: date
page_type: mailing-list
parent: Nieuwsbrieven
settings_checklist: 
  - label: label_allow_opt_in_mailing_list
  - label: label_ticked_by_default
---

<form 
    action="{{ page.url }}" 
    class="pat-validation pat-inject pat-form">

    {% include prozin/toolbar-cms-edit.html
        cancel="/dialogues/cms/mailing-lists" %}

    <div 
        class="cms-edit-form" 
        id="main-content">

        {% include prozin/cms-title-block.html
            summary=true %}

        {% include prozin/cms-section.html
            type="settings-mailing-list"
            action=page.url
            state="open"
            title="Settings" %}

        {% include prozin/cms-section.html
            action=page.url
            type="user-groups-mailing-list"
            state="open"
            title="Organisations" %}

        {% include prozin/cms-section.html
            type="user-groups-registrations"
            action=page.url
            state="open"
            title="Registrations" %}

    </div>

</form>