---
layout: prozin/shell
page_type: modal
---

<div 
    id="document-content" 
    class="
        pat-modal 
        {{ page.panel_class }} 
        {% if layout.panel_class %}
            {{ layout.panel_class }}
        {% else %}
            {{ page.panel_class }}
        {% endif %} 
        {% if layout.panel_size %}
            {{ layout.panel_size }}
        {% else %}
            {{ page.panel_size }}
        {% endif %} 
        {% if layout.panel_style %}
            {{ layout.panel_style }}
        {% else %}
            {{ page.panel_style }}
        {% endif %} 
        {{ page.panel_instance }} 
        {{ layout.panel_class }}">
    {% if layout.title %}
         <h1 
            class="panel-class-{{ page.panel_class }}">
            {{ site.data.prozin.ui[layout.title][site.lang] }}
            <button 
                type="button"
                class="button-fullscreen pat-fullscreen" 
                data-pat-fullscreen="selector:#modal-object">Full screen</button>
        </h1>
    {% else %}
        <h1 
            class="panel-class-{{ page.panel_class }}">
            {{ site.data.prozin.ui[page.title][site.lang] }}
            <button 
                type="button"
                class="button-fullscreen pat-fullscreen" 
                data-pat-fullscreen="selector:#modal-object">Full screen</button>
        </h1>
    {% endif %}
    {% if page.action %}
        <form 
            action="{{ page.action }}" 
            class="
                pat-form wizard-box panel-class-{{ page.panel_class }} 
                {% if page.inject %}
                    pat-inject
                {% endif %} 
                {% if page.validate %}
                    pat-validation
                {% endif %}" 
            {% if page.validate %}
                data-pat-validation="disable-selector:#modal-main-submit"
            {% endif %}
            {% if page.inject %}
                data-pat-inject="{{page.inject}}"
            {% endif %} 
            {% if page.target %}
                target="{{ page.target }}"
            {% endif %}>
    {% endif %}
        {% if page.source %}
            <object
                id="modal-object"
                data="{{ page.source }}">
                
            </object>
        {% else %}
            <div 
                class="panel-body">
                <div 
                    class="container">
                    {{ content }}
                </div>
            </div>
        {% endif %}
        {% if page.buttons or layout.buttons %}
            <div 
                class="buttons panel-footer">
                <div 
                    class="container">
                    {% for button in page.buttons  %}
                        {% if button.type == 'submit' or button.type == 'button' %}
                            <button 
                                id="modal-main-submit" 
                                type="{{ button.type }}" 
                                class="{{ button.class }} pat-button" {{ button.validate }}>
                                {{ site.data.prozin.ui[button.label][site.lang] }}
                            </button>
                        {% elsif button.type == 'link' %}
                            <a 
                                class="pat-button {{ button.class }} pat-inject" 
                                href="{{ button.action }}#{{ button.fragment }}">{{ site.data.prozin.ui[button.label][site.lang] }}</a>
                        {% endif %}
                    {% endfor %}
                    {% for button in layout.buttons  %}
                        {% if button.type == 'submit' or button.type == 'button' %}
                            <button 
                                id="modal-main-submit" 
                                type="{{ button.type }}" 
                                class="{{ button.class }} pat-button" {{ button.validate }}>
                                {{ site.data.prozin.ui[button.label][site.lang] }}
                            </button>
                        {% elsif button.type == 'link' %}
                            <a 
                                class="pat-button {{ button.class }} pat-inject" 
                                href="{{ button.action }}#{{ button.fragment }}">{{ site.data.prozin.ui[button.label][site.lang] }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% if page.action %}
        </form>
    {% endif %}
</div>
