---
layout: prozin/generic
byline: date
page_type: news-item
---

{% unless page.state == 'preview' %}
	{% include toolbar-standard-view.html %}
{% endunless %}

<div 
	id="main-content">
	<article>
		{% include prozin/page-head.html 
			byline="document-type, pub-date" %}
	    {% include prozin/section.html
	    	type="body-text" %}
		{% if page.video %}
			{% include prozin/section.html
				type="video" %}
		{% endif %}
	    {% if page.banners %}
		    {% include prozin/section.html
		    	title="Partners"
		    	type="involved-parties" %}
		{% endif %}
		{% include prozin/section.html
			type="downloads" %}
		{% include prozin/section.html 
			type="links"
			title="Zie ook" %}
    </article>
</div>