---
layout: prozin/generic
byline: date
---

<div 
	id="main-content">
	<article>
		{% include prozin/page-head.html %}
		<form 
			action="/dialogues/newsletter/subscribed" 
			class="pat-form pat-validation pat-inject">
			<fieldset 
				class="form-panel horizontal">
				{% include prozin/newsletters-checklist.html %}
				<label>
					{% include patterns/i18n id="label_email" %}
					<input 
						type="email" 
						required 
						name="e-mail" />
				</label>
				{% include patterns/honey-pot.html %}
				<div 
					class="button-bar group">
					<button 
						class="default pat-button" 
						type="submit">{% include patterns/i18n id="label_subscribe" %}</button>
				</div>
			</fieldset>
		</form>
    </article>
</div>