---
layout: prozin/generic
byline: date
parent: Beheer
page_type: news-item-edit
meta:
  - label: label_summary
    type: textarea
    rows: 3
  - label: label_publication_date
    type: date
---

<form
    class="pat-inject pat-form">
    
    {% include prozin/toolbar-cms-edit.html
        allow="
            header 2,
            header 3,
            header 4,
            paragraph,
            blockquote,
            strong,
            emphasised,
            deleted,
            link,
            horizontal rule,
            unordered list,
            ordered list,
            image,
            video,
            table"
             %}

    <div 
        class="cms-edit-form" 
    	id="main-content">

        {% include prozin/cms-title-block.html %}

    	<fieldset 
            class="horizontal form-panel metadata">
            {% include prozin/cms-standard-metadata.html %}
            <fieldset 
            	class="group image-selection">
            	<legend>{% include patterns/i18n id="label_hero_image" %}</legend>
            	<a 
            		class="button">{% include patterns/i18n id="label_select_from_image_bank_imp" %}</a>
            </fieldset>
        </fieldset>

        {% include prozin/cms-page-module-rich.html
            state="open"
            title="Broodtekst" %}

        {% include prozin/cms-page-module-see-also.html %}

    </div>

</form>