---
layout: prozin/generic
byline: date
page_type: news-item
---

{% unless page.state == 'preview' %}
	{% include toolbar-standard-view.html %}
{% endunless %}

<div 
	id="main-content">
	<article>
		{% include prozin/page-head.html 
			byline="document-type, pub-date" %}
	    {% include prozin/page-module-body-text.html %}
		{% if page.video %}
			{% include prozin/page-module-video.html %}
		{% endif %}
	    {% if page.banners %}
		    {% include prozin/page-module-logos.html %}
		{% endif %}
		{% include prozin/page-module-downloads.html %}
		{% include prozin/page-module-links.html 
			title="Zie ook" %}
    </article>
</div>