---
layout: prozin/generic
byline: date
parent: Beheer
page_type: news-item-edit
meta:
  - label: label_summary
    type: textarea
    rows: 3
  - label: label_publication_date
    type: date
---

<form
    class="pat-inject pat-form">
    
    {% include prozin/toolbar-cms-edit.html
        metadata="/dialogues/cms/panel-metadata-news#document-content"
        cancel="/dialogues/cms/news"
        allow="
            header 2,
            header 3,
            header 4,
            paragraph,
            blockquote,
            strong,
            emphasised,
            deleted,
            link,
            horizontal rule,
            unordered list,
            ordered list,
            image,
            video,
            table"
             %}

    <div 
        class="cms-edit-form" 
    	id="main-content">

        {% include prozin/cms-title-block.html %}

        {% include prozin/cms-page-module-news-body-text.html
            state="open"
            title="Broodtekst"
            fixed=true %}

        {% include prozin/cms-page-module-video.html
            title="Video"
            fixed=true %}

        {% include prozin/cms-page-module-involved-parties.html
            title="Betrokken partijen"
            fixed=true %}

        {% include prozin/cms-page-module-see-also.html %}

    </div>

</form>