---
layout: prozin/generic
page_type: organisation
title: Organisatie
parent: Beheer
title_in_breadcrumbs: true
---

<div 
    class="pat-toolbar pat-bumper"
    id="cms-page-toolbar-edit">
    <div 
        id="cms-toolbar-edit-functions-area"
        class="toolbar-functions-area">
        <div 
            class="toolbar-section quick-functions"
            id="cms-toolbar-edit-quick-functions">
            <a 
                class="pat-button icon-pencil pat-inject"  
                href="{{ page.url }}-edit#content">Bewerk</a>
        </div>
    </div>
</div>

<div 
    id="main-content">

    <article 
        class="pat-rich">
        <h1>
            {% if page.logo %}<img class="logo" src="{{ page.logo }}" alt="Logo">{% endif %}{{ page.name }}
        </h1>
    </article>
        
    <dl class="pat-grid-list">
        <!-- <dt>Naam organisatie</dt>
        <dd>Mees & mcRooy Makelaars</dd> -->
        <dt>
            Type organisatie
        </dt>   
        <dd>
            {{ page.type }}
        </dd>

            <dt>
                Adres
            </dt>
            <dd>
                Jodenbreestraat 48 A<br/>
                1028 XQ Amsterdam
            </dd>

            <dt>
                Locatie 1
            </dt>
            <dd>
                <strong>De Aker (47678493986)</strong><br/>
                Vreemdelingenpad 47<br/>
                1068 QM Amsterdam
            </dd>
            </dd>

            <dt>
                KvK
            </dt>
            <dd>
                03867563
            </dd>

            {% if page.type == 'Zorgaanbieder' %}

                <dt>
                    AGB-code(s)
                </dt>
                <dd>
                    {% for agb in page.agb %}
                        {{ agb.code}} {% unless forloop.last %}<br />{% endunless %}            
                    {% endfor %}
                </dd>
            
            {% endif %}

        <dt>Contactpersoon</dt>
        <dd>
            <a 
                href="#"
                class="pat-inject"
                data-pat-inject="history: record; scroll: #main">John Doe</a></dd>
        <dt>
            Beheerder
        </dt>
        <dd>
            <a 
                href="#"
                class="pat-inject"
                data-pat-inject="history: record; scroll: #main">{{ page.administrator }}</a>
        </dd>
        <dt>
            Aantal <a href="/dialogues/users/users-organisation" class="pat-inject" data-pat-inject="history: record; scroll: #main">gebruikers</a> van {{ page.title }}
        </dt>
        <dd>
            26
        </dd>
    </dl>

</div>

