---
layout: prozin/generic
byline: date
---

{% unless page.state == 'preview' %}
	{% include prozin/toolbar-standard-view.html %}
{% endunless %}

<div 
	id="main-content">
	<article>
		{% include prozin/page-head.html
			byline=true %}

		{% include prozin/section.html
			type="process-diagram" %}

		{% for item in page.sections %}
			{%- capture this_section_name -%}{%- include patterns/i18n id=item.name -%}{%- endcapture -%}
			{%- capture this_section_id -%}section-{{ item.name | slugify }}{%- endcapture -%}
			{% include prozin/section.html
				introduction=item.introduction
				content=item.content
				title=this_section_name
				section_id=this_section_id
				type="rich" %}
		{% endfor %}

		{% include prozin/section.html
			type="downloads" %}
		
		{% if page.tags.size >= 1 or page.links %}
			{% include prozin/section.html
				type="links" 
				title="Zie ook" %}
		{% endif %}
    </article>
</div>