---
layout: prozin/generic
title: Login
parent: home
page_type: login
---

<div 
	id="main-content">
	<div 
		class="row user-info">
		<div 
			class="four columns">
			{% include prozin/profile-image-form.html %}	
		</div>
		<div 
			class="eight columns">
		    <div 
		    	class="pat-rich">
		        <h1>
		            {{ site.data.prozin.personae[page.persona].first_name }} {{ site.data.prozin.personae[page.persona].last_name }}
		        </h1>
		    </div>
			<dl 
				class="pat-grid-list user-details">
				<dt>
					{{ site.data.prozin.ui.label_role[site.lang] }}
				</dt>
				<dd>
					{% if site.data.prozin.personae[page.persona].role == 'Administrator' %}
						{{ site.data.prozin.ui.label_role_beheerder[site.lang] }}
					{% elsif site.data.prozin.personae[page.persona].role == 'Member' %}
						{{ site.data.prozin.ui.label_regular_user[site.lang] }}
					{% endif %}
				</dd>
				<dt>
					{{ site.data.prozin.ui.label_organisation[site.lang] }}
				</dt>
				<dd>
					<a 
						class="pat-inject"
						data-pat-inject="history: record" 
						href="/organisations/mees-mcrooy-makelaars">{{ site.data.prozin.personae[page.persona].organisation }}</a>
				</dd>
				{% if site.data.prozin.personae[page.persona].domain %}
					<dt>
						{{ site.data.prozin.ui.label_domain[site.lang] }}
					</dt>
					<dd>
						<!-- The following link points to the respective domain page. -->
						<a 
							href="#"
						   	class="pat-inject"
						   	data-pat-inject="history: record">{{ site.data.prozin.personae[page.persona].domain }}</a>
					</dd>
				{% endif %}
				<dt>{{ site.data.prozin.ui.label_email[site.lang] }}</dt>
				<dd>
					<a 
						href="mailto:{{ site.data.prozin.personae[page.persona].email }}">{{ site.data.prozin.personae[page.persona].email }}</a>
				</dd>
			</dl>
		</div>
	</div>
</div>
