---
layout: prozin/generic
title: Login

page_type: login
---

<div 
	class="pat-toolbar">
	<div 
		class="toolbar-functions-area">
		<div 
			class="toolbar-section quick-functions">
			<a 
				href="/dialogues/personal/profile-edit"
				class="pat-button pat-inject">{% include patterns/i18n id="label_edit" %}</a>
		</div>
	</div>
</div>

<div 
	id="main-content">
	<div 
		class="row user-info">
		<div 
			class="four columns">
			{% include prozin/profile-image-form.html
				editable=true %}	
		</div>
		<div 
			class="eight columns">
		    <div 
		    	class="pat-rich">
		        <h1>
		            {{ site.data.prozin.personae[page.persona].first_name }} {{ site.data.prozin.personae[page.persona].last_name }}
		        </h1>
		    </div>
			<dl 
				class="pat-grid-list user-details">
				<dt>
					{{ site.data.prozin.ui.label_organisation[site.data.config.lang] }}
				</dt>
				<dd>
					<a 
						class="pat-inject"
						data-pat-inject="history: record; scroll: #main" 
						href="/organisations/mees-mcrooy-makelaars">{{ site.data.prozin.personae[page.persona].organisation }}</a>
				</dd>
				<dt>
					{{ site.data.prozin.ui.label_role[site.data.config.lang] }}
				</dt>
				<dd>
					{% if site.data.prozin.personae[page.persona].role == 'Administrator' %}
						{{ site.data.prozin.ui.label_role_beheerder[site.data.config.lang] }}
					{% elsif site.data.prozin.personae[page.persona].role == 'Member' %}
						{{ site.data.prozin.ui.label_regular_user[site.data.config.lang] }}
					{% endif %}
				</dd>
				{% if site.data.prozin.personae[page.persona].domain %}
					<dt>
						{{ site.data.prozin.ui.label_domain[site.data.config.lang] }}
					</dt>
					<dd>
						<!-- The following link points to the respective domain page. -->
						<a 
							href="#"
						   	class="pat-inject"
						   	data-pat-inject="history: record; scroll: #main">{{ site.data.prozin.personae[page.persona].domain }}</a>
					</dd>
				{% endif %}
				<dt>{{ site.data.prozin.ui.label_email[site.data.config.lang] }}</dt>
				<dd>
					<a 
						href="mailto:{{ site.data.prozin.personae[page.persona].email }}">{{ site.data.prozin.personae[page.persona].email }}</a>
				</dd>
			</dl>
		</div>
	</div>
</div>
