<!DOCTYPE html>
<html 
    lang="nl" 
    class="no-js">
<head>
    {% include prozin/dcterms.html %}
    {% include prozin/launch-screen.html %}
    {% include prozin/favicons.html %}
    {% include prozin/metadata.html %}

    <!-- Robots are only blocked in the prototype, not in production. -->
    <meta 
        name="robots" 
        content="noindex, nofollow" />
    <meta 
        name="viewport" 
        content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
    <meta 
        name="apple-mobile-web-app-capable" 
        content="yes">
    <meta 
        name="mobile-web-app-capable" 
        content="yes">
    <meta 
        name="apple-mobile-web-app-title" 
        content="{{ site.data.ui.label_site_name[site.lang] }}">
    <meta 
        name="mobile-web-app-title" 
        content="{{ site.data.ui.label_site_name[site.lang] }}">
    <meta 
        name="apple-mobile-web-app-status-bar-style" 
        content="default">

    <meta 
        content="text/html; charset=utf-8" 
        http-equiv="content-type">
    <meta 
        http-equiv="X-UA-Compatible" 
        content="IE=edge" />
    <meta 
        content="{{ page.summary }}" 
        name="keywords">

    <link 
        rel="stylesheet" 
        media="all" 
        type="text/css" 
        href="/assets/style/style.css"/>

    <script 
        src="/assets/script/{% if site.script_path %}{{ site.script_path}}{% else %}bundle.min.js{% endif %}" 
        type="text/javascript"></script>

    <meta 
        name="pat-inject-status-401"
        content="/assets/templates/401.html#error-zone"> <!-- So sorry… -->
    <meta
        name="pat-inject-status-403"
        content="/assets/templates/403.html#error-zone"> <!-- Not here! -->
    <meta 
        name="pat-inject-status-404"
        content="/assets/templates/404-modal.html#error-zone"> <!-- Oops! -->
    <meta 
        name="pat-inject-status-500"
        content="/assets/templates/500.html#error-zone"> <!-- Oh dear… -->
    <meta 
        name="pat-inject-status-503"
        content="/assets/templates/503.html#error-zone"> 
</head>
<body 
    class="pat-scroll-box environment-prototype product-{{ site.product_code }} page-type-{{ layout.page_type }}{{ page.page_type }}">

    {% include prozin/global-nav.html %}
    {% if page.layout == 'medicine-edit' or page.layout == 'medicine-manufacturer-edit' or page.layout == 'medicine-create' or page.layout == 'medicine-saved' or page.layout == 'medicine-create-manufacturer' or page.layout == 'medicine-manufacturer-check-edit' %}

        <form 
            action="{{ page.action }}" 
            class="pat-validation pat-inject pat-form">
            {% include prozin/alert-bar.html %}
            {% include prozin/sub-nav.html %}
            <div 
                class="main" 
                role="main" 
                id="main">
                {{ content }}
            </div>
        </form>

    {% elsif layout.page_type == 'modal' %}
        {% unless layout.template contains 'error' or page.template contains 'error' %}
            {{ content }}
        {% endunless %}
    {% else %}
        {% if page.browse-bar or layout.browse-bar %}
            {% include prozin/browse-bar.html %}
        {% endif %}
        <div 
            class="main" 
            role="main" 
            id="main">
            {% include prozin/sub-nav.html %}
            {% unless layout.template contains 'error' or page.template contains 'error' %}
                {{ content }}
            {% endunless %}

            {% if page.layout contains 'homepage' %}
                <!-- <a 
                    hidden 
                    href="#site-header" 
                    class="pat-scroll" 
                    data-pat-scroll="selector: #site-header; trigger: auto">Naar boven</a> -->
            {% else %}
                {% unless layout.auto_scroll == false %}
                    <!-- <a 
                        hidden 
                        href="#main" 
                        class="pat-scroll" 
                        data-pat-scroll="selector: #main; trigger: auto">Naar zoeken</a> -->
                {% endunless %}
            {% endif %}
        </div>
    {% endif %}
    
    {% include prozin/site-header.html %}
    {% include prozin/site-footer.html %}
    {% if site.languages %}
        {% include prozin/site-language-switch.html %}
    {% endif %}
    
    <!-- <div class="cookiewarning clearfix" style="display: block;">
        Het Farmacotherapeutisch Kompas gebruikt analytische cookies om het gebruik van de website te analyseren en daarmee de website te kunnen verbeteren.<br>
        <a href="/algemeen/cookies" class="pat-inject" data-pat-inject="hooks: raptor; history: record" title="Lees meer over cookies en hoe u cookies kunt uitschakelen">Lees meer over cookies en hoe u cookies kunt uitschakelen</a>
        <button class="cookiewarning_yes close-button">Sluiten</button>
    </div> -->
    
    <div 
        id="error-zone">
        {% if layout.template contains 'error' 
           or page.template contains 'error' %}
            {{ content }}
        {% endif %} 
    </div>
</body>
</html>